extends ../default

block content

	section
		h2 Welcome to my website
		p
			| Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus quisquam blanditiis similique?
			| Voluptatum
			| repudiandae commodi sapiente fugiat exercitationem, itaque illum unde ex quis labore totam minima
			| accusamus
			| inventore perspiciatis doloribus.