extends ../default

block content

    h2 Portfolio
        p A Long Road
        img(src="https://picsum.photos/id/563/300/300" alt="Project 1: A Long Road")

        p Reaching the Sky
        img(src="https://picsum.photos/id/328/300/300" alt="Project 2: Reaching the Sky")

        p Coffee Break
        img(src="https://picsum.photos/id/431/300/300" alt="Project 3: Coffee Break")