extends ../default

block content

    h2 Work Experience
    .work-experience
        h3.job-title Mechanic and Personal Assistant
        p.job-description
        h4 Duties and Responsibilities:
        ul
            li General mechanical duties
            li Assisting the Director with day-to-day business administration
            li Translating and interpreting between English and Italian
        p
        p
        h3.job-title Language Teacher
        p.job-description
        h4 Duties and Responsibilities:
        ul
            li Preparing lesson's materials
            li Teaching English language
            li Teaching Italian language
            li Teaching Spanish language
        p
        h3.job-title HR and Employees' Training Specialist
        p.job-description
        h4 Duties and Responsibilities:
        ul
            li ...
            li ...
            li ...
        p
        h3.job-title IT teacher
        p.job-description
        h4 Duties and Responsibilities:
        ul
            li ...
            li ...
            li ...